@import "../utils/variables";

.result-line {
    padding: 2px 0;
    text-align: center;
    display: flex;
}

.result-position {
    display: inline-block;
    width: 30%;
    padding: 0.7rem;
    text-align: right;

    &-text {
        padding-right: 1.2rem;
        color: $white;
        font-weight: 800;
    }

    & + .result-name {
        margin-left: -4px;
    }

    &-first { background-color: $red; }
    &-second { background-color: $orange; }
    &-third { background-color: $yellow; }
    &-antepenult { background-color: $light-blue; }
    &-penultimate { background-color: $medium-blue; }
    &-last { background-color: $dark-blue; }
}

.result-name {
    display: inline-block;
    width: 70%;
    padding: 0.7rem 1.3rem;
    text-align: left;
}

.result-separator {
    background-color: $light-grey;
    font-weight: 700;
    color: $dark-grey;
    padding-bottom: 0.5rem;
    margin: 2px 0;
    display: block;
}

.result-button {
    background-color: $red;
    padding: 0.8rem 3.5rem;
    font-weight: 800;
    color: $white;
    letter-spacing: $kerning;
    cursor: pointer;
    border: 0;

    &:hover {
        color: $white;
        text-decoration: none;
    }

    &-disabled {
        background-color: $dark-grey;
    }
    &-wrapper {
        margin: 2rem 0;
        text-align: center;
    }
}


