<div class="container-fluid">
    <div ng-include="'templates/partials/header.html'" onload="subtitle='START_SUBTITLE'"></div>
    <div ng-include="'templates/partials/error.html'"></div>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 text-center">
            <div class="simple-container">
                <span>Capture</span>
                <ng-webcam 
                config="vm.config"
                on-error="vm.onError(err)"
                on-load="vm.onLoad()"
                on-live="vm.onLive()"
                on-capture-progress="vm.onCaptureProgress(src, progress)"
                on-capture-complete="vm.onCaptureComplete(src)">
                </ng-webcam>
                <button class="btn btn-primary" type="button" ng-hide="!vm.captureButtonEnable" ng-click="vm.capture()">Capturar</button>
                <div id="result" class="row"></div>
            </div>
            <div class="simple-container">
                <a class="simple-link" href="https://www.thoughtworks.com/privacy-policy" target="_blank">
                    {{ 'PRIVACY_POLICY' | translate }}
                </a>
            </div>
        </div>
    </div>
</div>
