<div ng-include="'templates/partials/navbar.html'"></div>

<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-12">
        <div class="square-container">
            <div class="square" ng-click="setWinner(currentDuel.first_trend)">
                <div class="block" ng-class="{'loading':saving, 'active': isSelected(currentDuel.first_trend)}">
                    <div class="centered">
                        <h1>{{ currentDuel.first_trend.name }}</h1>
                    </div>
                </div>
            </div>
            <div class="square" ng-click="setWinner(currentDuel.second_trend)">
                <div class="block" ng-class="{'loading':saving, 'active': isSelected(currentDuel.second_trend)}">
                    <div class="centered">
                        <h1>{{ currentDuel.second_trend.name }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-12 text-center">
        <a class="btn btn-link" ng-click="skip()">Pular</a>
    </div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="trend-bar">
			<div class="trend-bar-counter">{{getCurrentPage()}}/{{totalDuels}}</div>
			<div class="bars">
				<div class="bar" ng-repeat="i in getDuelCount(totalDuels) track by $index" ng-class="{'bar-completed': $index < getCurrentPage()}"></div>
			</div>
		</div>
	</div>
</div>
