<div ng-show="serverError">
    <div class="alert alert-danger text-center">
      <p>{{ 'LOADING_ERROR' | translate }}</p>
      <a ng-click="init()" class="btn btn-danger">
        {{ 'LOADING_ERROR_BUTTON' | translate }}
      </a>{{ 'LOADING_ERROR2' | translate }}
    </div>
</div>

<div ng-hide="loading || serverError" class="trend-container trend-container-row">
    <div class="trend-container duels" ng-class="{'loading':saving, 'duels-blur':isSelected(currentDuel.second_trend)}">
        <h1 class="duels-title">{{ currentDuel.first_trend.name }}</h1>
        <h2 class="duels-subtitle">{{ currentDuel.first_trend.description }}</h2>
        <div ng-click="setWinner(currentDuel.first_trend)">
            <img ng-src="/images/{{isSelected(currentDuel.first_trend) ? 'btn-check.svg' : 'btn-votar.svg'}}">
        </div>
    </div>
    <div class="trend-container duels" ng-class="{'loading':saving, 'duels-blur':isSelected(currentDuel.first_trend)}">
        <h1 class="duels-title">{{ currentDuel.second_trend.name }}</h1>
        <h2 class="duels-subtitle">{{ currentDuel.second_trend.description }}</h2>
        <div ng-click="setWinner(currentDuel.second_trend)">
            <img ng-src="/images/{{isSelected(currentDuel.second_trend) ? 'btn-check.svg' : 'btn-votar.svg'}}">
        </div>
    </div>
</div>

<div ng-show="loading" class="text-center">
    <div ng-include="'templates/partials/loading.html'"></div>
</div>
