<div ng-include="'templates/partials/navbar.html'"></div>

<div class="container-fluid">

	<a ng-click="winner(currentDuel.first_trend)">{{ currentDuel.first_trend.name }}</a>
	ou
	<a ng-click="winner(currentDuel.second_trend)">{{ currentDuel.second_trend.name }}</a>?

	<hr>


	<div class="row">
		<div class="col-xs-12">
			<div class="trend-bar">
				<div class="trend-bar-counter">{{getCurrentPage()}}/{{totalDuels}}</div>
				<div class="bars">
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
				</div>
			</div>
		</div>
	</div>
	<a ng-click="skip()">Pular</a>
</div>
