<div class="container-fluid">
  <div ng-include="'templates/partials/header.html'" onload="subtitle='START_SUBTITLE'"></div>
  <div ng-include="'templates/partials/error.html'"></div>
    <div>lala</div>
	<div class="row form-row">
        <form ng-submit="send()" class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <div class="form-group">
                <label>{{ 'INDUSTRY' | translate }}</label>
                <select ng-model="user.industry_id" class="form-control">
                    <option value="">{{ 'SELECT' | translate }}</option>
                    <option value="{{industry.id}}" ng-repeat="industry in industries">{{industry.name}}</option>
                </select>
            </div>
            <input type="submit" ng-class="{'result-button-disabled': saving}" ng-disabled="saving" class="result-button" value="{{ 'SEND' | translate }}">
        </form>
	</div>
</div>
