<div ng-include="'templates/partials/navbar.html'"></div>

<div ng-include="'templates/partials/error.html'"></div>

<div ng-hide="loading">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <h2 class="title">Desafio completo!</h2>
            <h2 class="title">Top de tendências:</h2>
            <div ng-show="trends.first" class="result-line">
                <div class="result-position result-position-first">
                    <span class="result-position-text">
                        {{trends.first.position}}&deg;
                    </span>
                </div>
                <div class="result-name">
                    <span class="result-name-text">
                        {{trends.first.name}}
                    </span>
                </div>
            </div>
            <div ng-show="trends.second" class="result-line">
                <div class="result-position result-position-second">
                    <span class="result-position-text">
                        {{trends.second.position}}&deg;
                    </span>
                </div>
                <div class="result-name">
                    <span class="result-name-text">
                        {{trends.second.name}}
                    </span>
                </div>
            </div>
            <div ng-show="trends.third" class="result-line">
                <div class="result-position result-position-third">
                    <span class="result-position-text">
                        {{trends.third.position}}&deg;
                    </span>
                </div>
                <div class="result-name">
                    <span class="result-name-text">
                        {{trends.third.name}}
                    </span>
                </div>
            </div>
            <div ng-show="trends.split" class="result-line result-separator">
                ...
            </div>
            <div ng-show="trends.antepenult" class="result-line">
                <div class="result-position result-position-antepenult">
                    <span class="result-position-text">
                        {{trends.antepenult.position}}&deg;
                    </span>
                </div>
                <div class="result-name">
                    <span class="result-name-text">
                        {{trends.antepenult.name}}
                    </span>
                </div>
            </div>
            <div ng-show="trends.penultimate" class="result-line">
                <div class="result-position result-position-penultimate">
                    <span class="result-position-text">
                        {{trends.penultimate.position}}&deg;
                    </span>
                </div>
                <div class="result-name">
                    <span class="result-name-text">
                        {{trends.penultimate.name}}
                    </span>
                </div>
            </div>
            <div ng-show="trends.last" class="result-line">
                <div class="result-position result-position-last">
                    <span class="result-position-text">
                        {{trends.last.position}}&deg;
                    </span>
                </div>
                <div class="result-name">
                    <span class="result-name-text">
                        {{trends.last.name}}
                    </span>
                </div>
            </div>
            <div class="result-button-wrapper">
	            <button class="result-button" ng-click="users()">
	            	RECEBA O RESULTADO COMPLETO
                </button>
            </div>
        </div>
    </div>
</div>
<div ng-show="loading" class="text-center">
    <div ng-include="'templates/partials/loading.html'"></div>
</div>
