<div class="container-fluid">
	<div ng-include="'templates/partials/header.html'" onload="subtitle='Em breve enviaremos o resultado e análise detalhada do Trend-O-Meter'"></div>
    <div ng-include="'templates/partials/error.html'"></div>
    
    <div ng-include="'templates/partials/button.html'" onload="cta='votar novamente'"></div>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <div class="simple-container">
                <a class="simple-link" ng-click="panel()">Ver termômetro atualizado</a>
            </div>
        </div>
    </div>
    <div ng-show="hasEndButton()" class="text-center end-wrapper">
        <a href="#/start" class="result-button">
            NOVO PARTICIPANTE
        </a>
    </div>
  </div>
</div>
