<div ng-include="'templates/partials/navbar.html'"></div>

<div ng-include="'templates/partials/error.html'"></div>

<div class="row" ng-show="dependencyError">
  <div ng-submit="send()" class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <div class="alert alert-danger text-center">
      <p>{{ 'LOADING_ERROR' | translate }}</p>
      <a ng-click="init()" class="btn btn-danger">
        {{ 'LOADING_ERROR_BUTTON' | translate }}
      </a>
      {{ 'LOADING_ERROR2' | translate }}
    </div>
  </div>
</div>

<h2 class="title">{{ 'CALL_TO_ACTION1' | translate }}</h2>
<h2 class="title">{{ 'CALL_TO_ACTION2' | translate }}</h2>

<div class="row form-row" ng-hide="loading()">
  <form ng-submit="send()" class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <div class="form-group" ng-class="{'has-error': formErrors.name}">
      <label>{{ 'NAME' | translate }}</label>
      <input type="text" ng-model="user.name" class="form-control">
    </div>
    <div class="form-group" ng-class="{'has-error': formErrors.email}">
      <label>{{ 'EMAIL' | translate }}</label>
      <input type="email" ng-model="user.email" class="form-control">
    </div>
    <div class="form-group">
      <label>{{ 'COMPANY' | translate }}</label>
      <input type="text" ng-model="user.company" class="form-control">
    </div>
    <div class="form-group">
      <label>{{ 'ROLE' | translate }}</label>
      <select ng-model="user.role_id" class="form-control">
        <option value="">{{ 'SELECT' | translate }}</option>
        <option value="{{role.id}}" ng-repeat="role in roles">{{role.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>{{ 'INDUSTRY' | translate }}</label>
      <select ng-model="user.industry_id" class="form-control">
        <option value="">{{ 'SELECT' | translate }}</option>
        <option value="{{industry.id}}" ng-repeat="industry in industries">{{industry.name}}</option>
      </select>
    </div>
    <input type="submit" ng-class="{'result-button-disabled': saving}" ng-disabled="saving" class="result-button" value="{{ 'SEND' | translate }}">
    <a href="#/panel" class="btn btn-link btn-skip pull-right">{{ 'BACK' | translate }}</a>
  </form>
</div>

<div ng-show="loading()" class="text-center">
    <div ng-include="'templates/partials/loading.html'"></div>
</div>
