<div ng-app="trendOMeterApp" class="trend-container trend-container-column">
	<div ng-include="'templates/partials/header.html'"></div>
	<div ng-include="'templates/partials/error.html'"></div>
	<div ng-view></div>
	<div ng-include="'templates/partials/footer.html'"></div>
</div>