//colors

$red: #EC3331;
$orange: #F58832;
$yellow: #FCEF57;
$light-blue: #7DCDD4;
$medium-blue: #0BBBCC;
$dark-blue: #0578BD;
$light-grey: #F2F2F2;
$dark-grey: #999999;
$white: #FFFFFF;
$black: #000000;
$trend-bar-completed: #CCCCCC;

//font
$font-family: 'Open Sans', sans-serif;

//size
$start-button-small: 25px;
$start-button-medium: $start-button-small * 2.15;
$start-button-big: $start-button-small * 3;
$kerning: -0.03em;

//trend
$trend-border-definition: 3px solid $dark-grey;

%vertical-align {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
	background-position: 50% 50%;
}