@import '../utils/*';

.header {
	text-align: center;
	margin: 20% auto;
	
	&-title {
		border-bottom: 1px solid $black;
		font-weight: 800;
		letter-spacing: $kerning;
		padding-bottom: 0.4em;
		font-size: 2.7rem;
		display: inline-block;
		margin: 3rem 0 0;
	}
	
	&-subtitle {
		font-weight: 300;
		font-size: 1.8rem;
		font-style: italic;
		margin-top: 1rem;
		max-width: 20rem;
		margin: 1rem auto;
	}
	&-logo {
		width: 45%;
		max-width: 200px;
		margin-bottom: 1rem;

		&-sub {
			font-size: 1rem;
			font-weight: 300;
			color: $dark-grey;
			margin-top: -0.3rem;
		}
	}
}

