@import "utils/variables";

.square {
    width: 48%;
    padding-bottom: 48%; 
    position: relative;
    float: left;

    & + & {
        margin-left: 4%;
    }
}

.block {
    position: absolute;
    text-align: center;
    background: $light-blue;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: background-color 0.5s ease;

    &.loading {
        background-color: $light-grey;
    }

    &.active {
        background-color: $orange;
    }

    &:before {
        content: '';
        display: inline-block;
        height: 100%; 
        vertical-align: middle;
        margin-right: -0.25em; 
    }
}

.centered {
    display: inline-block;
    vertical-align: middle;
    width: 99%;
    color: $white;
    
    & h1 {
        font-size: 1.3rem;
        font-weight: 800;
        letter-spacing: $kerning;
        text-transform: uppercase;
        padding: 1rem;
    }
 }
