/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-sass-official/assets/stylesheets/_bootstrap-sprockets
 *= require bootstrap-sass-official/assets/stylesheets/_bootstrap
 *= require_tree .
 *= require_self
 */

@import "views/home",
		"components/*",
		"utils/variables";

body {
	color: #fff;
	font-family: $font-family;
	background-image: linear-gradient(-235deg, #35aaff, #ff4399);
	background-size: 200%;
}

.trend-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	
	&-column {
		height: 100vh;
		flex-direction: column;
	}

	&-row {
		width: 100vw;
	}

	div {
		text-align: center;
	}

	.trend-title {
		letter-spacing: -1.33px;
		text-align: center;
		font-size: 48px;
		font-weight: 800;
	}

	.trend-subtitle {
		letter-spacing: 0;
		text-align: center;
		font-size: 24px;
		font-weight: 200;
	}

	.duels {
		min-height: 450px;
		width: 35%;
		flex-direction: column;
		justify-content: space-between;

		&-title {
			font-size:36px;
			font-weight: 800;
			letter-spacing:-1px;
		}

		&-subtitle {
			font-size:16px;
			font-weight: 200;
			letter-spacing:0;
		}

		&-blur {
			@include blur(5px);
		}
	}
}

.row {
	margin: 0;
}

.col-xs-12 {
	padding: 0;
}

@media (max-width: 768px) {
	html {
		font-size: 14px;
	}
}

@media (max-width: 600px) {
	html {
		font-size: 12px;
	}
}
